.scrollToTop{background-color:#34bb61; color:#fff}
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; color:#34bb61; border-color:1px solid #34bb61}
.logo > span{color:#34bb61}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{background-color:#34bb61}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:#34bb61}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#34bb61}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#34bb61}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#34bb61}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#34bb61}
.latest_newsarea span{background:none repeat scroll 0 0 #34bb61}
.latest_post > h2 span{background:none repeat scroll 0 0 #34bb61}
#prev-button{color:#34bb61}
#next-button{color:#34bb61}
.single_post_content > h2 span{background:none repeat scroll 0 0 ##34bb61}
.single_sidebar > h2 span{ background:none repeat scroll 0 0 #34bb61}
.bsbig_fig figcaption a:hover{color:#34bb61}
.spost_nav .media-body > a:hover{color:#34bb61}
.cat-item a:hover{background-color:#34bb61}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#34bb61}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#34bb61}
.single_sidebar > ul > li a:hover{color:#34bb61}
.footer_widget > h2:hover{color:#34bb61}
.tag_nav li a:hover{color:#34bb61; border-color:#34bb61}
.copyright a:hover{color:#34bb61}
.post_commentbox a:hover, .post_commentbox span:hover{color:#34bb61}
.breadcrumb{border-left:10px solid #34bb61}
.single_page_content ul li:before{background-color:#34bb61}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#d083cf}
.nav-slit .icon-wrap{background-color:#34bb61}
.nav-slit h3{background:#34bb61}
.catgArchive{background-color:#34bb61}
.error_page > h3{color:#34bb61}
.error_page > span{background:none repeat scroll 0 0 #34bb61}
.error_page > a{background-color:#34bb61}
.contact_area > h2{background-color:#34bb61}
.contact_form input[type="submit"]{background-color:#34bb61}
.contact_form input[type="submit"]:hover{background-color:#fff; color:#34bb61}
.related_post > h2 i{color:#34bb61}
.form-control:focus{border-color:#34bb61;  box-shadow:0 0px 1px #34bb61 inset,0 0 5px #34bb61}